<%- include('layout') -%>
<h1>Login</h1>
<form method="POST" action="/dashboard">
  <input type="text" name="username" placeholder="Utente"><br><br>
  <input type="password" name="password" placeholder="Password"><br><br>
  <button type="submit">Accedi</button>
</form>