<h1>Nuovo Cliente</h1>
<form method="POST" action="/clienti/nuovo">
  <input name="nome" placeholder="Nome"><br>
  <input name="indirizzo" placeholder="Indirizzo"><br>
  <input name="pec" placeholder="PEC"><br>
  <input name="sdi" placeholder="Codice SDI"><br>
  <button type="submit">Salva</button>
</form>
